<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="AndroidRunConfigurationType" factoryName="Android App">
    <module name="ScratchJr.app" />
    <option name="DEPLOY" value="true" />
    <option name="DEPLOY_APK_FROM_BUNDLE" value="false" />
    <option name="DEPLOY_AS_INSTANT" value="false" />
    <option name="ARTIFACT_NAME" value="" />
    <option name="PM_INSTALL_OPTIONS" value="" />
    <option name="ALL_USERS" value="false" />
    <option name="ALWAYS_INSTALL_WITH_PM" value="false" />
    <option name="PROVISION_DEVICE_WITH_EXTRAS_APK" value="" />
    <option name="CLEAR_APP_STORAGE" value="false" />
    <option name="ACTIVITY_EXTRA_FLAGS" value="" />
    <option name="MAKE_STEP_TYPE" value="GRADLE_TASK" />
    <option name="PRELAUNCH_GRADLE_TASK_ENABLED" value="false" />
    <option name="PRELAUNCH_GRADLE_TASK_COMMAND_LINE" value="" />
    <option name="INSPECTION_WITHOUT_ACTIVITY_RESTART" value="false" />
    <RunnerSettings RunnerId="AndroidDebugRunner" />
    <ConfigurationWrapper RunnerId="AndroidDebugRunner" />
    <method v="2">
      <option name="Android.Gradle.BeforeRunTask" enabled="true" />
    </method>
  </configuration>
</component>
